<!-- <ion-content [fullscreen]="true">
  <div class="p-4"></div>
  <ion-list>
    <ion-reorder-group
      [disabled]="false"
      (ionItemReorder)="handleReorder($any($event))"
    >
      <ion-item *ngFor="let item of items" (click)="a()">
        <ion-label> Item {{ item.name }} </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>

</ion-content> -->
<ion-content class="ion-text-center">
	<div class="p-4"></div>

	<ion-grid>
		<ion-row>
			<ion-col class="ion-no-padding"></ion-col>
			<ion-col size="12" size-sm="11" size-md="11" size-lg="10">
				<h1 class="fs-4 m-0 fw-bold title ion-padding">Horario de Clases</h1>
				*<img
					src="https://storage.googleapis.com/kot-academy.appspot.com/9363dc7c-f74f-4aea-a33c-bc009c2f97f8lecture.jpeg"
					alt="User Image"
				/>
			</ion-col>
			<ion-col></ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
