<nav
	class="navbar navbar-expand-lg fixed-top"
	[ngClass]="{
		'bg-dark': authData,
		'bg-body-tertiary': !authData
	}"
	[attr.data-bs-theme]="authData ? 'dark' : 'light'"
>
	<div class="container-fluid">
		<a class="navbar-brand" (click)="navigate(authData ? 'user' : 'home')">KOT Academy</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		@if (!authData) {
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a
							class="nav-link"
							(click)="navigate('home', 'services')"
							data-bs-toggle="collapse"
							data-bs-target="#navbarSupportedContent"
							>Academias</a
						>
					</li>
					<li class="nav-item">
						<a
							class="nav-link"
							(click)="navigate('home', 'about-us')"
							data-bs-toggle="collapse"
							data-bs-target="#navbarSupportedContent"
							>Experiencia</a
						>
					</li>
					<li class="nav-item">
						<a
							class="nav-link"
							(click)="navigate('home', 'team')"
							data-bs-toggle="collapse"
							data-bs-target="#navbarSupportedContent"
							>Quienes somos</a
						>
					</li>
				</ul>
				<div class="navbar-text p-0">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a
								class="nav-link fw-bold"
								(click)="navigate('sign-in')"
								data-bs-toggle="collapse"
								data-bs-target="#navbarSupportedContent"
								>Iniciar sesión</a
							>
						</li>

						<li class="nav-item">
							<a
								class="nav-link fw-bold"
								(click)="navigate('sign-up')"
								data-bs-toggle="collapse"
								data-bs-target="#navbarSupportedContent"
								>Registro</a
							>
						</li>
					</ul>
				</div>
			</div>
		} @else {
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" (click)="navigate('user')">Servicios</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Binaries</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" (click)="navigate('user/binaries')">Inicio</a></li>
							<li><a class="dropdown-item" (click)="navigate('user/binaries/live-lesson')">Clases en vivo</a></li>
							<li><a class="dropdown-item" (click)="navigate('user/binaries/course-syllabus')">Aprende ahora</a></li>
							<li><a class="dropdown-item" (click)="navigate('user/binaries/trade-ideas')">Ideas de trade</a></li>
							<li><a class="dropdown-item" (click)="navigate('user/binaries/class-schedule')">Horario</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Forex</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" (click)="navigate('user/forex')">Inicio</a></li>
							<li><a class="dropdown-item" (click)="navigate('user/forex/live-lesson')">Clases en vivo</a></li>
							<li><a class="dropdown-item" (click)="navigate('user/forex/course-syllabus')">Aprende ahora</a></li>
							<li><a class="dropdown-item" (click)="navigate('user/forex/trade-ideas')">Ideas de trade</a></li>
							<li><a class="dropdown-item" (click)="navigate('user/forex/class-schedule')">Horario</a></li>
						</ul>
					</li>
				</ul>
				<div class="navbar-text p-0">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link fw-bold" (click)="navigate('home')">Cerrar sesión</a>
						</li>
					</ul>
				</div>
			</div>
		}
	</div>
</nav>

<ion-app>
	<ion-router-outlet></ion-router-outlet>
</ion-app>
@if (!authData) {
	<a
		class="whatsapp-link"
		href="https://api.whatsapp.com/send?phone=3194186947&text=Hola, quiero mas información"
		target="_blank"
	>
		<img class="whatsapp shadow" src="assets/whatsapp.svg" alt="whatsapp icon" />
	</a>
}

<footer
	class="fixed-bottom p-1"
	[ngClass]="{
		'bg-dark': authData,
		'bg-body-tertiary': !authData
	}"
	[attr.data-bs-theme]="authData ? 'dark' : 'light'"
>
	<div class="container">
		<ion-row>
			<ion-col size="12" class="ion-text-center pt-2">
				<p class="text-muted mb-0">© 2024 KOT Academy - Todos los derechos reservados.</p>
			</ion-col>
			<ion-col size="12" class="ion-text-center">
				<ul class="list-inline">
					<li class="list-inline-item">
						<a target="_blank"
							><ion-icon
								name="logo-facebook"
								[ngClass]="{
									'kot-color--dark': !authData,
									'kot-color--white': authData
								}"
							></ion-icon
						></a>
					</li>
					<li class="list-inline-item">
						<a target="_blank"
							><ion-icon
								name="logo-instagram"
								[ngClass]="{
									'kot-color--dark': !authData,
									'kot-color--white': authData
								}"
							></ion-icon
						></a>
					</li>
					<li class="list-inline-item">
						<a target="_blank"
							><ion-icon
								name="logo-tiktok"
								[ngClass]="{
									'kot-color--dark': !authData,
									'kot-color--white': authData
								}"
							></ion-icon
						></a>
					</li>
				</ul>
			</ion-col>
		</ion-row>
	</div>
</footer>
