@media (max-width: 576px) {
	.centrar-vertical {
		background-image: var(--opacity-white), url(/assets/services/binaries.jpeg);
		display: inline-table;
		width: 100%;
		padding-top: 4rem;
		padding-bottom: 7rem;
	}
}
@media (min-width: 576px) {
	.centrar-vertical {
		background-image: var(--opacity-white), url(/assets/services/binaries.jpeg);
	}
}
